html {
  background-color: #0f021b;
}
body {
  margin: 83px;
  display: grid;
  justify-content: center;
}
.titulo {
  color: #ffffff;
  text-align: center;
}

.title {
  font-size: 32px;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 0px;
  margin-top: 8px;
}
.subtitle {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  margin-top: 8px;
}
.campo-senha {
  margin-top: 57px;
  background-color: #2c1746;
  width: 1089px;
  height: 111px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 4.4px solid #fd58ff;
  .item {
    margin-right: 40px;
  }
}
.campo-senha-titulo {
  margin-left: 40px;
  color: #8a87aa;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.campo-visualizacao-senha {
  width: 850px;
  font-size: 40px;
  color: #ffffff;
  font-family: 'Roboto Mono', monospace;
}
.campo-personalizacao {
  display: flex;
  flex-direction: column;
  border: 1px solid #694a81;
  width: 1089px;
  height: 382.28px;
  background-color: #180828;
  margin-top: 30px;
}
.personalizacao-titulo {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  color: #d7d5eb;
  font-size: 28px;
  font-family: 'Roboto Mono', monospace;
}
.personalizacao-conteudo {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}

.personalizacao-numero-caracteres {
  display: flex;
  flex-direction: column;
  input {
    width: 100%;
    margin-top: 24px;
    accent-color: #ffffff;
  }
}

.progress-bar {
  margin-top: 24px;
  margin-bottom: 24px;
  --progress: 10;
  width: 300px;
  height: 32px;
  background-color: #2c1746;
  display: flex;
}
.progress-bar::before {
  content: '';
  width: calc(var(--progress) * 1%);
  background-color: hsl(calc(var(--progress) * 1.2), 80%, 50%);
  transition: all 0.2s ease;
}
.progress-bar-title-group {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.personalizacao-conteudo-quantidade-caracteres {
  background-color: #2c1746;
  border: 1px solid #694a81;
  width: 65.9px;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 24px;
}

.personalizacao-caracteristicas-checkbox {
  min-width: 24px;
  min-height: 24px;
  margin-right: 5px;
  accent-color: #ffffff;
  cursor: pointer;
}
.campo-botao {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  button {
    width: 154px;
    height: 46px;
    background: #fd58ff;
    color: #0f021b;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
  }
}
.cursor-apontar {
  cursor: pointer;
}
.descricoes {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: #8a87aa;
}
.conf-subtitulos {
  color: #8a87aa;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}
